@{
  Layout="Shared/_Layout.cshtml";
}

<form action="/categories/new" method="post">
  <label for="category-name">Category name</label>
  <input id="category-name" name="category-name" type="text">
  <button class="btn btn-success" type="submit">Add</button>
</form>
<a href="/" class="btn btn-primary">Go Home</a>
