a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: none;
}

ul, ol {
  padding: 0px;
}

.completed {
  text-decoration: line-through;
  color: lightgray;
}

li {
  list-style-type: none;
}

li:hover {
  background-color: #CCC;
}
